.crud-toolbar {
    background-color: transparent;
    color : #D8DADA;
    margin-top: 10px;
}
.crud-toolbar h3 {
    font-size: 15px;
    margin: 0;
    font-weight: 400;
}

.crud-toolbar .crud-subtitle {
    display: block;
}
