$color-ok-green: #1b5e20;
$color-warn-orange: #f57f17;
$color-error-red: #b71c1c;
$color-blue: #1976d2;
$color-background: #222C32;
@mixin white-alpha($alpha) {
    color: rgba(255,255,255,$alpha);
};


@mixin square ($color, $width) {
    content: "";
    width: $width; 
    height: 1rem; 
    border-radius: 0.2em;
    margin: 0.2rem 1rem 0.2rem -2rem;
    background: $color; 
    position: absolute;
}

