  .nodes-view-header {
    margin-top: 7px;
  }

  .component-timeline {
    padding-bottom: 15px;
  }

    .title-area {
    margin: 34px 0 0 23px;
  }

  .title-area .text-middle {
    font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;
  }

  .node-check-detail-view-container {
    width: 100%; 
    height: 100%;
  }

  .ag-theme-material {
    width: 100% !important; 
    height: calc(100vh - 342px) !important; 
  }

  .node-overlay ::ng-deep .noDataOverlayText {
    top: 144px;
}

.dashboardCardGrayedOut {
  margin: 0px;    
  opacity: 0.3;
  background-color: #2b343a;
  width: 100%;
  padding-bottom: 8px !important;
}