$wiki-html-background: rgb(228, 228, 228);
$wiki-content-background: #fcfcfc;
$wiki-grey: #e1e4e5;
$wiki-black: #000;
$wiki-black-hover: #000;
$wiki-black-hover-link: #000;
$wiki-blue: rgb(41, 128, 185);
$wiki-blue-hover: #3f8bbd;
$wiki-blue-hover-link: #8eb9d6;
$wiki-expantion-panel-hover: rgba(255, 255, 255, 0.04);
